## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [41]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [42]:
sample_list_1 = random.sample(range(101), 80, counts=None) # Your code here

print(sample_list_1)

len(sample_list_1)

[74, 65, 12, 41, 85, 42, 39, 89, 72, 57, 56, 16, 17, 93, 60, 23, 21, 2, 3, 35, 31, 22, 99, 52, 47, 87, 9, 54, 97, 45, 81, 32, 48, 73, 11, 30, 88, 6, 43, 7, 24, 80, 83, 5, 95, 29, 50, 98, 69, 38, 79, 64, 77, 26, 58, 34, 96, 71, 33, 51, 28, 75, 0, 46, 55, 94, 53, 4, 37, 19, 20, 100, 8, 59, 67, 49, 91, 14, 92, 44]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [43]:
set1=set(sample_list_1) # Your code here

print(set1)

len(set1)

#length its is still 80

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 16, 17, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 64, 65, 67, 69, 71, 72, 73, 74, 75, 77, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [44]:
sample_list_2 = random_numbers = []

for i in range(100):
    random_numbers.append(random.randint(1,100)) # Your code here
    
random_numbers

[100,
 59,
 73,
 21,
 89,
 40,
 38,
 34,
 79,
 75,
 51,
 90,
 35,
 58,
 24,
 30,
 51,
 86,
 64,
 74,
 88,
 73,
 15,
 87,
 98,
 78,
 20,
 88,
 24,
 21,
 14,
 15,
 58,
 59,
 13,
 64,
 12,
 5,
 60,
 29,
 65,
 100,
 56,
 65,
 39,
 19,
 95,
 34,
 25,
 97,
 37,
 31,
 16,
 8,
 37,
 54,
 98,
 9,
 71,
 34,
 26,
 84,
 36,
 65,
 42,
 19,
 5,
 89,
 17,
 16,
 20,
 1,
 19,
 38,
 100,
 16,
 4,
 92,
 46,
 90,
 83,
 37,
 81,
 55,
 8,
 70,
 64,
 10,
 35,
 61,
 8,
 38,
 20,
 80,
 19,
 54,
 20,
 87,
 77,
 64]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [45]:
set2=set(sample_list_2) # Your code here

print(set2)

len(set2)# Your code here

# lenght its is now 63

{1, 4, 5, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 24, 25, 26, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 42, 46, 51, 54, 55, 56, 58, 59, 60, 61, 64, 65, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 92, 95, 97, 98, 100}

62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
set3=set1.difference(set2) # Your code here

print(set3)

len(set3)

{0, 2, 3, 6, 7, 11, 22, 23, 28, 32, 33, 41, 43, 44, 45, 47, 48, 49, 50, 52, 53, 57, 67, 69, 72, 85, 91, 93, 94, 96, 99}

31

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
set4=set2.difference(set1) # Your code here

print(set4)# Your code here

len(set4)

{1, 36, 70, 40, 10, 13, 78, 15, 84, 86, 25, 90, 61}

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
set5=set1.intersection(set2) # Your code here

print(set5)

len(set5)

{4, 5, 8, 9, 12, 14, 16, 17, 19, 20, 21, 24, 26, 29, 30, 31, 34, 35, 37, 38, 39, 42, 46, 51, 54, 55, 56, 58, 59, 60, 64, 65, 71, 73, 74, 75, 77, 79, 80, 81, 83, 87, 88, 89, 92, 95, 97, 98, 100}

49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [63]:
len(set1)-len(set5)-len(set3)==len(set2)-len(set5)-len(set4)  # Your code here

False

#### Create an empty set called `set6`.

In [50]:
set6 = set()

print(set6) # Your code here

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [51]:
set6.update(set3, set5) # Your code here

print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 16, 17, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 64, 65, 67, 69, 71, 72, 73, 74, 75, 77, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [52]:
set1==set6 # Your code here

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [53]:
print(set1.issubset(set2)) # Your code here

print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
set3.union(set4, set5)==set1.union(set2) # Your code here

True

#### Using the `pop` method, remove an element from `set1`.

In [55]:
set1.pop()

print(set1.pop(), set1) # Your code here

2 {3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 16, 17, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 64, 65, 67, 69, 71, 72, 73, 74, 75, 77, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [59]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference(list_to_remove) # Your code here

{3,
 4,
 5,
 6,
 7,
 8,
 12,
 14,
 16,
 17,
 20,
 22,
 23,
 24,
 26,
 28,
 30,
 32,
 33,
 34,
 35,
 37,
 38,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 64,
 65,
 67,
 72,
 73,
 74,
 75,
 77,
 80,
 83,
 85,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100}

In [61]:
print(set1)

{3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 16, 17, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 64, 65, 67, 69, 71, 72, 73, 74, 75, 77, 79, 80, 81, 83, 85, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}