In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
## Install xlrd package to load Excel files
# conda install openpyxl
## conda install xlrd

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import math
import scipy.stats as stats
import numpy as np

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Lab | Hypothesis Testing

2) In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

New Machine	  Old Machine
42.1	        42.7
41	            43.6
41.3	        43.8
41.8	        43.3
42.4	        42.5
42.8	        43.5
43.2	        43.1
42.3	        41.7
41.8	        44
42.7	        44.1

In [4]:
time_machine_df = pd.DataFrame({'time_new_machine':[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7], 'time_old_machine':[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]});
#df = original_df.copy(); df['c'] = df['a']/df['b']
time_machine_df

   time_new_machine  time_old_machine
0              42.1              42.7
1              41.0              43.6
2              41.3              43.8
3              41.8              43.3
4              42.4              42.5
5              42.8              43.5
6              43.2              43.1
7              42.3              41.7
8              41.8              44.0
9              42.7              44.1

In [5]:
mean_new=time_machine_df['time_new_machine'].mean()
mean_new

42.14

In [6]:
mean_old=time_machine_df['time_old_machine'].mean()
mean_old

43.230000000000004

In [7]:
std_new=time_machine_df['time_new_machine'].std()
std_new

0.6834552736727638

In [8]:
std_old=time_machine_df['time_old_machine'].std()
std_old

0.7498888806572157

In [9]:
t = ( mean_old - mean_new ) / np.sqrt( ((std_old**2)/10) + ((std_new**2)/10 ) )
t

3.397230706117603

df=n-1=10-1=9

In [10]:
tc = stats.t.ppf(1-(0.05/2),df=9)
tc

2.2621571627409915

T = t > tc= 3.3972 > 2.2621 = tc -> I reject the null hypothesis.